@charset "UTF-8";
.event_list a{
			padding: 40px;
			color : gray;
}
.event_list a:hover{
	color : black;
}
.event_list{
	padding: 20px;
}
.event_div img{
	width: 700px;
	height:260px;
}
.event_div span{
	font-size : 20px;
}